mixin list
    li
        a(href='#hero')= 'Home'
        each val, key in theme.menu
            if val['display-name']
                li
                    if val['external-link']
                        a(href=`${val['external-link']}` rel="noopener noreferrer" target="_blank")= `${val['display-name']}`
                    else
                        a(href='#'+`${key}`)= `${val['display-name']}`
