mixin list
    li
        a(href='#hero')= 'Home'
    - for ( var key in theme.menu )
        li
            if theme.menu[key]['display-name']
                if theme.menu[key]['external-link']
                    a(href=`${theme.menu[key]['external-link']}` rel="noopener noreferrer" target="_blank")= `${theme.menu[key]['display-name']}`
                else
                    a(href='#'+`${key}`)= `${theme.menu[key]['display-name']}`
