// Post modal
mixin content(post, author, anchor, background)
    div(id=`${anchor}`).modal.bottom-sheet
        .modal-close.absolute &times;
        .modal-cover
            .rectangle-50(style='background-image: url(' + `${url_for(background)}` + ')')
        .modal-content
            .row
                .col.s12.l8.offset-l2
                    h4= `${post.title}`

                    p.flow-text.grey-text.
                        Author: #{author}<br>
                        Date: #{post.date}

                    .divider

                    section !{post.content}

                    .divider

            .row
                .col.s12.center
                    p.flow-text Share this
                    p.flow-text.social
                        a.facebook(href='#!') facebook
                        a.googleplus(href='#!') google+
                        a.vk(href='#!') vk
                        a.twitter(href='#!') twitter
                        a.pinterest(href='#!') pinterest
